<div class="main-content">
    <div class="head">
        <img src="./assets/nipun-bharat-logo.png" height="80" width="100" alt="">
        <h2><i>F</i>oundational <i>L</i>iteracy and <i>N</i>umeracy <br> <span>Assessment</span></h2>
    </div>
    <div class="about-informatics">
		<div class="about">
			<h3>About NIPUN Bharat</h3>
			<p>	Educational programs should be designed to inculcate the skills necessary 
				for the physical, cognitive, linguistic, emotional and social development 
				of children. NEP 2020 expressed serious concern that there are about 5 
				crore students in our country who are unable to read, write or perform four 
				basic mathematical operations.
				A Foundational Literacy and Numeracy <i>(FLN)</i> programme is 
				initiated to improve the study material and quality of education.<br> A mission 
				entitled NIPUN Bharat was launched at the national level for this purpose, 
				with the aim of making all students in grade 3 and beyond in the country 
				achieve foundational literacy and numeracy by 2025. The NIPUN Bharat mission 
				outlines learning outcomes which have been designed in a spiral and progressive 
				manner. 
			</p>
		</div>
		<div class="informatics">
			<a [routerLink]="['/dashboard']">
				<div class="dashboard">
					Dashboard
				</div>
			</a>
			<a [routerLink]="['/mock-test']">
				<div class="mock-test">
					Mock Test
				</div>
			</a>
			<a [routerLink]="['/resources']">
				<div class="resources">
					Resources
				</div>
			</a>
			<a [routerLink]="['/guidelines']">
				<div class="guidelines">
					Guidelines
				</div>
			</a>
		</div>
    </div>
	<div class="foundational-learning-cycle">
		<h3>Foundational Learning Cycle</h3>
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item" [ngClass]="{'active':slideNumber==0}">
				<img class="d-block w-100" src="./assets/test.jpg" alt="First slide">
				<div class="content">
					<h4>Online Assessment</h4>
					<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem cupiditate ducimus maiores, iste voluptas vero quos doloribus iusto, consectetur, aspernatur quam officiis labore? Vel eius praesentium deserunt dignissimos, ipsum quam? 
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat fugiat beatae veritatis dignissimos eius nemo laudantium, aut explicabo, cumque error sunt pariatur quisquam praesentium iusto vitae hic, doloremque magni sapiente.
					</p>
				</div>
			  </div>
			  <div class="carousel-item" [ngClass]="{'active':slideNumber==1}">
				<img class="d-block w-100" src="./assets/analysis.jpg" alt="Second slide">
				<div class="content">
					<h4>Result Analysis</h4>
					<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem cupiditate ducimus maiores, iste voluptas vero quos doloribus iusto, consectetur, aspernatur quam officiis labore? Vel eius praesentium deserunt dignissimos, ipsum quam?
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat fugiat beatae veritatis dignissimos eius nemo laudantium, aut explicabo, cumque error sunt pariatur quisquam praesentium iusto vitae hic, doloremque magni sapiente.
					</p>
				</div>
			  </div>
			  <div class="carousel-item" [ngClass]="{'active':slideNumber==2}">
				<img class="d-block w-100" src="./assets/Feedback.jpg" alt="Third slide">
				<div class="content">
					<h4>Imparting Feedback</h4>
					<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem cupiditate ducimus maiores, iste voluptas vero quos doloribus iusto, consectetur, aspernatur quam officiis labore? Vel eius praesentium deserunt dignissimos, ipsum quam? 
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat fugiat beatae veritatis dignissimos eius nemo laudantium, aut explicabo, cumque error sunt pariatur quisquam praesentium iusto vitae hic, doloremque magni sapiente.
					</p>
				</div>
			  </div>
			  <div class="carousel-item" [ngClass]="{'active':slideNumber==3}">
				<img class="d-block w-100" src="./assets/mentorship.jpg" alt="Fourth slide">
				<div class="content">
					<h4>Mentorship & Support</h4>
					<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem cupiditate ducimus maiores, iste voluptas vero quos doloribus iusto, consectetur, aspernatur quam officiis labore? Vel eius praesentium deserunt dignissimos, ipsum quam? 
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat fugiat beatae veritatis dignissimos eius nemo laudantium, aut explicabo, cumque error sunt pariatur quisquam praesentium iusto vitae hic, doloremque magni sapiente.
					</p>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>