<div class="main-content">
    <div class="head">
        <img src="./assets/nipun-bharat-logo.png" height="80" width="100" alt="">
        <h2><i>F</i>oundational <i>L</i>iteracy and <i>N</i>umeracy <br> <span>Assessment</span></h2>
    </div>
    <div class="about-informatics">
		<div class="about">
			<h3>About NIPUN Bharat</h3>
			<p>	Educational programs should be designed to inculcate the skills necessary 
				for the physical, cognitive, linguistic, emotional and social development 
				of children. NEP 2020 expressed serious concern that there are about 5 
				crore students in our country who are unable to read, write or perform four 
				basic mathematical operations.
				A Foundational Literacy and Numeracy <i>(FLN)</i> programme is 
				initiated to improve the study material and quality of education.<br> A mission 
				entitled NIPUN Bharat was launched at the national level for this purpose, 
				with the aim of making all students in grade 3 and beyond in the country 
				achieve foundational literacy and numeracy by 2025. The NIPUN Bharat mission 
				outlines learning outcomes which have been designed in a spiral and progressive 
				manner. 
			</p>
		</div>
		<div class="informatics">
			<a (click)="auth('admin')">
				<div class="admDashboard">
					Admin
				</div>
			</a>
			<a (click)="auth('student')">
				<div class="stuDashboard">
					Student
				</div>
			</a>
		</div>
    </div>
	<div class="foundational-learning-cycle">
		<h3>Foundational Learning Cycle</h3>
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item" [ngClass]="{'active':slideNumber==0}">
				<img class="d-block w-100" src="./assets/test.jpg" alt="First slide">
				<div class="content">
					<h4>Online Assessment</h4>
					<p> The online assessment user interface offers a user-friendly and intuitive experience for both teachers and students. Teachers can easily create, manage, and customize tests, selecting questions from a question bank, setting time limits, and specifying test parameters. Students can access the tests through a secure login, navigate through the questions, and submit their responses. The interface provides clear instructions, easy-to-use navigation buttons, and progress indicators to ensure a seamless test-taking experience. Features like a timer help students manage their time effectively. The system also allows for auto-saving of answers and provides immediate feedback on objective questions. Overall, the online assessment user interface ensures a smooth and efficient test conducting experience, enhancing convenience and engagement for both teachers and students.
					</p>
				</div>
			  </div>
			  <div class="carousel-item" [ngClass]="{'active':slideNumber==1}">
				<img class="d-block w-100" src="./assets/analysis.jpg" alt="Second slide">
				<div class="content">
					<h4>Result Analysis</h4>
					<p> Online assessment result analysis involves the systematic examination and interpretation of data collected from online assessments. It focuses on analyzing individual and group performance to gain insights into students' strengths, weaknesses, and overall achievement. The analysis includes various aspects such as test scores, question-level performance, time taken, and patterns of response. By analyzing the results, educators can identify areas of improvement, track progress over time, and make data-driven decisions to enhance instructional strategies. Additionally, result analysis helps identify trends, patterns, and correlations to inform curriculum development, identify achievement gaps, and personalize learning experiences. It empowers educators with valuable information to support student growth, optimize teaching practices, and ensure effective educational outcomes.
					</p>
				</div>
			  </div>
			  <div class="carousel-item" [ngClass]="{'active':slideNumber==2}">
				<img class="d-block w-100" src="./assets/Feedback.jpg" alt="Third slide">
				<div class="content">
					<h4>Imparting Feedback</h4>
					<p> Feedback sharing and guiding is an essential aspect of the foundational literacy and numeracy assessment. It involves providing students with constructive feedback on their performance and guiding them towards improvement. The feedback is based on the assessment results and focuses on specific areas of strength and areas that need further development. Through clear and specific feedback, students gain insights into their progress and understand how they can enhance their skills. Additionally, teachers play a crucial role in guiding students by offering strategies, resources, and personalized support to address their individual learning needs. This feedback sharing and guiding process fosters a supportive learning environment, encourages student self-reflection, and empowers them to take ownership of their learning journey.
					</p>
				</div>
			  </div>
			  <div class="carousel-item" [ngClass]="{'active':slideNumber==3}">
				<img class="d-block w-100" src="./assets/mentorship.jpg" alt="Fourth slide">
				<div class="content">
					<h4>Mentorship & Support</h4>
					<p> The post-result mentorship program is a valuable initiative that aims to provide guidance and support to students after they receive their test results. The program pairs students with mentors who are experienced educators or professionals in relevant fields. These mentors offer personalized guidance based on the students' individual performance, helping them understand their strengths, areas for improvement, and potential career paths. Through one-on-one sessions, the mentors provide academic advice, career counseling, and assistance with setting goals and developing action plans. The post-result mentorship program plays a crucial role in empowering students to make informed decisions, enhancing their confidence, and fostering a supportive environment for their continued growth and success.
					</p>
				</div>
			  </div>
			</div>
		</div>
	</div> 
</div>