.content{
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    background-image: url("https://dsel.education.gov.in/themes/school_education/assets/nipun-bharat/images/nipun-logo.png");
    background-size: 100px;
    background-blend-mode: difference;
    overflow-x: hidden;
}

.login-form{
    width: 50vw;
    height: fit-content;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #EAEAEA;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: #EAEAEA;
}
.credentials{
    margin-top: 1rem;
}
.credentials .mb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0!important;
}
.input-control{
    width: 67%;
}
.input-control input{
    width: 100%;
}
.input-control .input-required,.input-control .input-required{
    font-size: 10px;
    visibility: collapse;
}
.signup-form{
    width: 50vw;
    height: fit-content;
    padding: 30px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #EAEAEA;
    border-radius: 10px;
    position: relative;
    background: #EAEAEA;
}
form i{
    text-decoration: underline;
    color: blue;
    font-style: normal;
    cursor: pointer;
}
.head{
    display: flex;
    flex-direction: row;
    width: 100%;
    float: left;
}
asl-google-signin-button{
    margin: 0 0 0 10%
}
.text-center{
    margin-top: 20px;
}
