<div class="content">
    <div class="home" [routerLink]="['/']">
        <img src="./assets/pngs/home.png">
    </div>
    <!-----------*START* Login Section  -------->
    <form #loginform="ngForm" class="login-form" (ngSubmit)="login(loginform)" *ngIf="loginSection">
        <!-- <div class="head">
            <p>Sign in with:</p>
        </div>
        <div class="text-center">
            <p>or</p>
        </div> -->
        <span>Logging in as <i (click)="userToggle()">{{userType}}</i></span>
        <div class="credentials">
            <div class="mail mb mb-4">
                <label for="login-email" class="form-label">Email</label>
                <div class="input-control">
                    <input type="email" placeholder="email or username" class="form-control" 
                    ngModel required #loginEmail="ngModel" name="login-email">
                    <p class="input-required">This is Required*</p>
                </div>
            </div>
            <div class="password mb mb-4">
                <label for="login-password" class="form-label">Password</label>
                <div class="input-control">
                    <input type="password" placeholder="password" 
                    class="form-control" ngModel required #loginPassword="ngModel" name="password">
                    <p class="input-required">This is Required*</p>
                </div>
            </div>
            <button [disabled]="loginform.status=='INVALID'"
            class="btn btn-block mb-4 btn-primary">Login</button>
            <!-- " -->
        </div>
        <div class="text-center">
            <p>Not a member? <i (click)="loginSignupToggle()">Register</i></p>
          </div>
    </form>
    <!---------------------*END* Login Section  ------------------------------>

    <!---------------------*START* Signup Section  --------------------------->
    <form #signUpForm="ngForm" class="signup-form" (ngSubmit)="signUp(signUpForm)" *ngIf="!loginSection">
        <!-- <div class="head">
            <p>SignUp with:</p>
            <asl-google-signin-button *ngIf="!loggedIn" type="standard" size="large"></asl-google-signin-button>
        </div>
        <div class="text-center">
            <p>or</p>
        </div> -->
        <div class="credentials">
            <div class="firstName mb mb-4">
                <label for="signup-firstname" class="form-label">First Name</label>
                <div class="input-control">
                    <input type="text" placeholder="first name" 
                    class="form-control" ngModel required #signupFirstName="ngModel" name="signup-firstname">
                    <p class="input-required">This is Required*</p>
                </div>
            </div>
            <div class="lastName mb mb-4">
                <label for="signup-lastname" class="form-label">Last Name</label>
                <div class="input-control">
                    <input type="text" placeholder="last name" 
                    class="form-control" ngModel required #signupLastName="ngModel" name="signup-lastname">
                    <p class="input-required">This is Required*</p>
                </div>
            </div>
            <div class="fatherName mb mb-4">
                <label for="signup-fathername" class="form-label">Father's Name</label>
                <div class="input-control">
                    <input type="text" placeholder="father's name" 
                    class="form-control" ngModel required #signupFathername="ngModel" name="signup-fathername">
                    <p class="input-required">This is Required*</p>
                </div>
            </div>
            <div class="dateOfBirth mb mb-4">
                <label for="signup-DOB" class="form-label">Date Of Birth</label>
                <div class="input-control">
                    <input type="date"
                    class="form-control" ngModel required #signupDOB="ngModel" name="signup-DOB">
                    <p class="input-required">This is Required*</p>
                </div>
            </div>
            <div class="rollNumber mb mb-4">
                <label for="signup-rollNumber" class="form-label">Roll Number</label>
                <div class="input-control">
                    <input type="number" placeholder="registration number"
                    class="form-control" ngModel required #signupRollNumber="ngModel" name="signup-rollNumber">
                    <p class="input-required">This is Required*</p>
                </div>
            </div>
            <div class="school mb mb-4">
                <label for="signup-school" class="form-label">School</label>
                <div class="input-control">
                    <input type="text" placeholder="school" 
                    class="form-control" ngModel required #signupSchool="ngModel" name="signup-school">
                    <p class="input-required">This is Required*</p>
                </div>
            </div>
            <div class="class mb mb-4">
                <label for="signup-class" class="form-label">Class</label>
                <div class="input-control">
                    <input type="number" placeholder="class"
                    class="form-control" ngModel required #signupClass="ngModel" name="signup-class">
                    <p class="input-required">This is Required*</p>
                </div>
            </div>
            <div class="mail mb mb-4">
                <label for="signup-email" class="form-label">Email</label>
                <div class="input-control">
                    <input type="email" placeholder="email or username" 
                    class="form-control" ngModel required #signupEmail="ngModel" name="signup-email">
                    <p class="input-required">This is Required*</p>
                </div>
            </div>
            <div class="password mb mb-4">
                <label for="signup-password" class="form-label">Password</label>
                <div class="input-control">
                    <input type="password" placeholder="password" 
                    class="form-control" ngModel required #signupPassword="ngModel" name="signup-password">
                    <p class="input-required">This is Required*</p>
                </div>
            </div>
            <div class="confirm-password mb mb-4">
                <label for="signup-confirm-password" class="form-label">Confirm Password</label>
                <div class="input-control">
                    <input type="password" placeholder="re-enter password" 
                    class="form-control" ngModel required #signupPassword="ngModel" name="signup-confirm-password">
                    <p class="input-required">This is Required*</p>
                </div>
            </div>
            <button [disabled]="signUpForm.status=='INVALID'"
            class="btn btn-block mb-4 btn-primary">Sign Up</button>
        </div>
        <div class="text-center">
            <p>Already a member? <i (click)="loginSignupToggle()">Log In</i></p>
        </div>
    </form>
</div>    
