<div class="content">
    <app-left-navbar></app-left-navbar>
    <div class="right-content">
        <div class="player">
            <iframe width="672" height="378" src="https://www.youtube.com/embed/1Cm0OYAbtnQ?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>              
            <a href="resource.pdf" download>
            <button>Download PDF</button>
            </a> 
        </div>  
    </div>
</div>