<div class="content">
    <app-left-navbar></app-left-navbar>
    <div class="test-guidelines">
        <h2>Test Guidelines</h2>
        <p>Please read the following instructions carefully before starting the test:</p>
        <ul>
            <li>Ensure that you have a stable internet connection throughout the test duration.</li>
            <li>Do not refresh or navigate away from the test page while taking the test.</li>
            <li>Answer all the questions to the best of your knowledge.</li>
            <li>For multiple-choice questions, select the most appropriate option by clicking on the radio button.</li>
            <li>For subjective questions, provide your answers in the text box provided. Be clear and concise in your responses.</li>
            <li>Review your answers before submitting the test. Once submitted, you will not be able to make any changes.</li>
            <li>The test has a time limit of 60 minutes. The timer will be displayed on the screen.</li>
            <li>Once the time is up, the test will automatically be submitted.</li>
        </ul>
        <button class="start-test-button" [routerLink]="['/mock-test']">Start Test</button>
  </div>
  
</div>