<div class="navbar">
    <ul>
        <li [routerLink]="['/']">
            <img src="./assets/pngs/home.png">home 
        </li>
        <li [routerLink]="['/mock-test']">
            <img src="./assets/pngs/mock-test.png">mock test                
        </li>
        <li [routerLink]="['/resources']" 
            [routerLinkActive]="['activeNavRoute']">
            <img src="./assets/pngs/resources.png">resources 
        </li>
        <li [routerLink]="['/guidelines']" 
            [routerLinkActive]="['activeNavRoute']">  
            <img src="./assets/pngs/guidelines.png">guidelines
        </li>
        <li (click)="logout()">
            <img src="./assets/pngs/logout.png">logout
        </li>
    </ul>
</div> 