<div class="navbar">
    <ul>
        <li [routerLink]="['/']">
            <p><img src="./assets/pngs/home.png">home</p>   
        </li>
        <li [routerLink]="['/mock-test']">
            
            <p><img src="./assets/pngs/mock-test.png">mock test</p>                 
        </li>
        <li [routerLink]="['/resources']">
            
            <p><img src="./assets/pngs/resources.png">resources</p> 
        </li>
        <li (click)="logout()">
            
            <p><img src="./assets/pngs/logout.png">logout</p> 
        </li>
    </ul>
</div> 